In [7]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn as sb

In [8]:
df = pd.read_csv('data/new_movie.csv')
df

,title,production_cost,domestic_gross,worldwide_gross,opening_weekend,mpaa,genre,theaters,runtime,year,Group
0,Avengers: Endgame,400000000,858373000,2797800564,357115007.0,PG-13,Action,4662.0,181.0,2019,1
1,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802,90151958.0,PG-13,Adventure,4164.0,136.0,2011,1
2,Avengers: Age of Ultron,365000000,459005868,1395316979,191271109.0,PG-13,Action,4276.0,141.0,2015,1
3,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2064615817,247966675.0,PG-13,Adventure,4134.0,136.0,2015,1
4,Avengers: Infinity War,300000000,678815482,2048359754,257698183.0,PG-13,Action,4474.0,156.0,2018,1
...,...,...,...,...,...,...,...,...,...,...,...
486,The Incredibles,92000000,261441092,631441092,70467623.0,PG,Adventure,3933.0,115.0,2004,0
487,A Good Day to Die Hard,92000000,67349198,304249198,24834845.0,R,Action,3555.0,98.0,2013,0
488,The Alamo,92000000,22406362,23911362,9124701.0,PG-13,Western,2609.0,137.0,2004,0
489,Cutthroat Island,92000000,10017322,18517322,2371415.0,PG-13,Adventure,1619.0,122.0,1995,0
490,The Secret Life of Walter Mitty,91000000,58236838,187861183,12765508.0,PG,Adventure,2922.0,114.0,2013,0

In [9]:
df = df.loc[df['domestic_gross'] != 0, :]

In [10]:
df['world/domestic ratio'] = (df['worldwide_gross'] / df['domestic_gross']).round(1)

/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_14552/3192163899.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['world/domestic ratio'] = (df['worldwide_gross'] / df['domestic_gross']).round(1)

In [11]:
df.describe()

,production_cost,domestic_gross,worldwide_gross,opening_weekend,theaters,runtime,year,Group,world/domestic ratio
count,4.790000e+02,4.790000e+02,4.790000e+02,4.790000e+02,479.000000,479.000000,479.000000,479.000000,479.000000
mean,1.495035e+08,1.754636e+08,4.843300e+08,5.429206e+07,3659.770355,121.686848,2011.137787,0.822547,3.555532
std,4.783044e+07,1.411956e+08,3.835252e+08,4.619796e+07,546.018902,22.157530,6.459223,0.932801,14.311693
min,9.100000e+07,3.114340e+05,7.094995e+06,4.855800e+04,30.000000,76.000000,1991.000000,0.000000,1.100000
25%,1.100000e+08,7.722778e+07,2.221401e+08,2.421873e+07,3378.500000,104.000000,2007.000000,0.000000,2.200000
50%,1.400000e+08,1.348069e+08,3.757407e+08,4.167120e+07,3735.000000,120.000000,2012.000000,0.000000,2.700000
75%,1.750000e+08,2.241757e+08,6.490603e+08,6.812391e+07,4065.000000,135.000000,2016.000000,2.000000,3.350000
max,4.000000e+08,9.366622e+08,2.910371e+09,3.571150e+08,4802.000000,201.000000,2022.000000,2.000000,315.400000

In [12]:
df['world/domestic ratio'].median() # max 값이 과도하게 높기 때문에 median 값을 일반적인 world/domestic gross 비율로 정의하기로 함

2.7